<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <canvas id="myCanvas" width="600" height="600" style="border:1px solid #000000;"></canvas>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
// Simply grabs the Canvas obejct from HTML
var c = document.getElementById("myCanvas");
   elemLeft = c.offsetLeft,
   elemTop = c.offsetTop,
   context = c.getContext('2d'),
   elements = [];

// Each element will be drawn into the canvas based on the info in the Python list
function drawSpace(element,color){
    var rectangle = c.getContext("2d")
    rectangle.fillStyle = color
    var x = element[0];
    var y = element[1];
    var width = element[2];
    var height = element[3];
    rectangle.fillRect(x,y,width,height);

    // Push the element into a JS list to detect clicks
    elements.push({
        colour: "color",
        width: width,
        height: height,
        top: y,
        left: x,
        id: element[4]
    });

}

// Coloring loop for available/taken parking spaces
{% for x in list %}
    {% if x[5] == -1 %}
        drawSpace({{ x }}, 'red')
    {% else %}
        drawSpace({{ x }}, 'green')
    {% endif %}
{% endfor %}

// event listener for click event
c.addEventListener('click', function(event) {
   var xVal = event.pageX - elemLeft,
   yVal = event.pageY - elemTop;
   console.log(xVal, yVal);
   elements.forEach(function(ele) {
      if (yVal > ele.top && yVal < ele.top + ele.height && xVal > ele.left && xVal < ele.left + ele.width) {
         //alert(ele.id);
         // A redirect to take a parking lot space
         window.location.href = "space/"+ele.id
      }
   });
}, false);

// AJAX function
 function update_values() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

            $.getJSON($SCRIPT_ROOT+"/getdata",
                function(data) {

                    elements = [];
                    for (let i = 0; i < data.length; i++) {
                        console.log("Here...")
                        if (data[i][5] == 1) {
                            drawSpace(data[i], 'green');
                        }
                        else if (data[i][5] == -1) {
                            drawSpace(data[i], 'red');
                        }
                    }

                });
            }
    setInterval(function(){
        update_values();
    }, 1000);
</script>

</body>
</html>
